<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>

    <div id="app">
      <div v-if="age>=30">
        <h1>{{ message }}</h1>
        <p>{{ weather }}</p>
      </div>

      <a :href="url"> hello </a>
      <button @click="plusAge">Plus Age</button>
      <button @click="minusAge">Minus Age</button>
      <p>{{age}}</p>
      <ul v-if="age>=40">
        <li v-for="item in title">
          <p>{{item.title}}</p>
        </li>
      </ul>
      <div v-if="age<30">
        <ul>
          <li
            v-for="book in books"
            :class="{logic: book.isFav}"
            @click="isFavhandler(book)"
          >
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
        <ul>
          <li
            v-for="book in filteredBooks"
            :class="{logic: book.isFav}"
            @click="isFavhandler(book)"
          >
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
        <div v-for="b"></div>
      </div>
      <div class="container">
        <div class="box" @mouseover="handleEvent">mouseover</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">doubleclick</div>
        <div class="box" @mousemove="handleMousemove">{{x}} {{y}}</div>
      </div>
    </div>

    <div id="section"></div>

    <script type="module" src="app.js"></script>
  </body>
</html>
