#app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 20px auto;
  max-width: 600px;
  padding: 10px;
}

#section {
  background-color: #000;
  color: #fff;
  box-shadow: 2px 2px 6px rgb(163, 150, 150);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 600px;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  padding: 100px 0;
  box-shadow: 2px 2px 6px rgb(163, 150, 150);
  text-align: center;
  background: #ddd;
  margin: 10px;
  display: inline-block;
}

button {
  background-color: #f94c7d;
  border-radius: 100px;
  box-shadow: 2px 2px 6px rgb(163, 150, 150);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.logic {
  display: flex;
  padding: 20px;
  background: rgb(248, 56, 155);
  border-radius: 100px;
  box-shadow: 2px 2px 6px rgb(163, 150, 150);
  align-items: center;
  justify-content: space-between;
}
